@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+MX:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f3f1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section{
    background-color: #d3d4ce;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}

section img{
    border-radius: 50%;
    width: 120px;
    
}

h1{
    font-size: 24px;
    margin: 10px 0;
    /* margin-bottom: 20px; */
}

.bt-01{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    border-color: white;
}

figure img{
    width: 48px;
    padding: 5px;
    /* border: 1px solid red; */
    margin: 20px 10px 0 10px;
}